@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "Ermilov";
  src: url("../fonts/Ermilov-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1, h2 {
  font-family: "Ermilov", serif;
  font-weight: bold;
  color: #000000;
}

p, a {
  font-family: "Montserrat";
  font-weight: normal;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  height: 102px;
  background-color: #ffffff;
  z-index: 10;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  position: fixed;
  height: 100px;
  line-height: 100px;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.container-fluid .collapse .nav__social {
  height: 45px;
  margin: 27.5px 10px 0 20px;
}
.container-fluid .collapse .nav__social .nav__social__links {
  position: relative;
  margin-left: 12px;
  background-color: #5C2E03;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  list-style: none;
  transition: all linear 0.3s;
}
.container-fluid .collapse .nav__social .nav__social__links:hover {
  background-color: #d26500;
}
.container-fluid .collapse .nav__social .nav__social__links .social__links-1 {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
}
@media (max-width: 992px) {
  .container-fluid .collapse .nav__social .nav__social__links .social__links-1 {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 992px) {
  .container-fluid .collapse .nav__social .nav__social__links {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 992px) {
  .container-fluid .collapse .nav__social {
    margin: 32.5px 10px 0 10px;
  }
}
.container-fluid .navbar-header .navbar-toggle {
  float: right; /* Перемещаем бургер-меню вправо */
}
.container-fluid .navbar-header .img {
  width: 70px;
  height: auto;
}
.container-fluid .nav {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: max-content max-content;
  gap: 20px;
  grid-row: 1;
  justify-content: space-between;
  align-items: center;
}
.container-fluid .nav .dropdown-menu {
  width: 1920px;
  line-height: normal;
  left: 0;
  transform: translateX(-42.7%);
}
.container-fluid .nav .dropdown-menu .menu__item {
  top: 0;
  left: 0;
  height: 280px;
}
.container-fluid .nav .nav__button {
  margin: 0 5px;
}
.container-fluid .nav .nav__button .btn {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .container-fluid .nav .nav__button .btn {
    font-size: 16px;
  }
}
.container-fluid .nav .nav__link {
  grid-row: 1/-1;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  font-weight: 400;
}
.container-fluid .nav .nav__link a {
  color: #000000;
  text-decoration: none;
}
@media (max-width: 992px) {
  .container-fluid .nav .nav__link {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .container-fluid .nav {
    gap: 10px;
  }
}

.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.section__header {
  height: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 230px 35% 320px 20%;
  background-image: url(../assets/image/img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section__header .header__info {
  width: 100%;
  max-width: 850px;
  height: auto;
}
.section__header .header__info .info__title {
  width: 900px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
.section__header .header__info .info__paragraph {
  width: 720px;
  height: 90px;
  margin: 10px 0 20px 0;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.section__header .header__info .info__button {
  display: block;
  width: 210px;
  height: 65px;
  margin-left: 5px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: #5C2E03;
  transition: linear 0.3s;
}
.section__header .header__info .info__button:hover {
  background-color: #d26500;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .section__header .header__info .info__title {
    font-size: 36px;
  }
  .section__header .header__info .info__paragraph {
    font-size: 18px;
    margin: 15px 0 15px 0;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .section__header .header__info .info__title {
    font-size: 28px;
  }
  .section__header .header__info .info__paragraph {
    width: 500px;
    font-size: 18px;
    margin: 15px 0 20px 0;
    height: 60px;
  }
  .section__header .header__info .info__button {
    display: block;
    width: 250px;
    margin-left: 120px;
  }
}
@media (max-width: 576px) {
  .section__header .header__info .info__title {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  .section__header .header__info .info__paragraph {
    text-align: center;
    font-size: 14px;
    padding: 0 20px;
    width: 100%;
    height: auto;
  }
  .section__header .header__info .info__button {
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .section__header {
    padding: 230px 0 320px 15%;
  }
}
@media (max-width: 992px) {
  .section__header {
    padding: 230px 0 320px 7%;
  }
}
@media (max-width: 576px) {
  .section__header {
    height: 550px;
    padding: 230px 0 320px 0;
  }
}
.main {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.about-container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.about {
  width: 100%;
  max-width: 1050px;
  height: auto;
  margin: 90px auto 35px auto;
}
.about .about__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}
.about .about__paragraph {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 400;
}
.about .about__paragraph :nth-child(2) {
  margin-bottom: 70px;
}
@media (max-width: 1199px) {
  .about .about__paragraph {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .about {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 576px) {
  .about {
    margin: 35px auto 35px auto;
  }
}
.curses-container {
  width: 100%;
  position: relative;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}
.curses-container::after {
  content: "";
  width: 1920px;
  height: 680px;
  margin: 0 auto;
  position: absolute;
  top: 160px;
  left: -360px;
  background-color: rgba(92, 46, 3, 0.85);
  z-index: -1;
}
@media (max-width: 992px) {
  .curses-container::after {
    top: 80px;
    height: 1220px;
  }
}
@media (max-width: 768px) {
  .curses-container::after {
    height: 1160px;
    top: 60px;
  }
}
@media (max-width: 576px) {
  .curses-container::after {
    height: 870px;
    top: 60px;
  }
}

.curses {
  width: 100%;
  height: auto;
}
.curses .curses__btn {
  width: 195px;
  height: 45px;
  margin: 26px auto 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 3;
  transition: linear 0.3s;
}
.curses .curses__btn .curses__btn__button {
  text-decoration: none;
  color: #000000;
}
.curses .curses__btn .btn__button__btn {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.curses .curses__btn:hover {
  background-color: #d26500;
}

.curses__title {
  max-width: 1200px;
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.curses__title__h1 {
  max-width: 1050px;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin: 36px auto;
}

.curses__cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column: 1/-1;
  grid-row: 1/-1;
  gap: 25px;
}
.curses__cards .cards-item {
  margin: 0 auto;
  background-color: #ffffff;
  width: 280px;
  transition: all linear 0.15s;
}
.curses__cards .cards-item:hover {
  transform: scale(1.07);
}
.curses__cards .cards-item .item__image .img {
  width: 100%;
}
.curses__cards .cards-item .item__title {
  margin: 10px 0 4px 20px;
  font-size: 20px;
  font-weight: 500;
}
.curses__cards .cards-item .item__subtitle {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #4e4e4e;
}
.curses__cards .cards-item .item__star {
  margin: 10px 0 10px 20px;
  display: flex;
}
.curses__cards .cards-item .item__star .img {
  width: 22px;
  height: 22px;
}
.curses__cards .cards-item .item__bottom {
  display: flex;
  margin-bottom: 20px;
}
.curses__cards .cards-item .item__bottom .item__button {
  display: flex;
  width: 144px;
  height: 44px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #5C2E03;
  transition: linear 0.3s;
}
.curses__cards .cards-item .item__bottom .item__button:hover {
  background-color: #d26500;
}
.curses__cards .cards-item .item__bottom .item__btn {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
.curses__cards .cards-item .item__bottom .img {
  width: 20px;
  height: 18px;
  margin: 13px 14.5px 13px 18px;
}
.curses__cards .cards-item .item__bottom .item__price {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .curses__cards .cards-item .item__bottom .item__price {
    font-size: 14px;
  }
  .curses__cards .cards-item .item__bottom .item__button {
    width: 130px;
  }
}
@media (max-width: 576px) {
  .curses__cards .cards-item .item__bottom .item__price {
    font-size: 10px;
    margin: 5px 0 0 10px;
  }
  .curses__cards .cards-item .item__bottom .item__button {
    height: 38px;
    width: 100px;
  }
  .curses__cards .cards-item .item__bottom .item__button .item__btn {
    font-size: 11px;
  }
  .curses__cards .cards-item .item__bottom .img {
    width: 14px;
    height: auto;
    margin: 0 10px;
  }
}
@media (max-width: 370px) {
  .curses__cards .cards-item .item__bottom .item__price {
    font-size: 9px;
    margin: 0 0 0 10px;
  }
}
@media (max-width: 576px) {
  .curses__cards .cards-item .item__title {
    font-size: 14px;
  }
  .curses__cards .cards-item .item__subtitle {
    font-size: 11px;
  }
}
@media (max-width: 1199px) {
  .curses__cards .cards-item:nth-child(7),
  .curses__cards .cards-item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 992px) {
  .curses__cards .cards-item {
    width: 320px;
  }
  .curses__cards .cards-item:nth-child(7),
  .curses__cards .cards-item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 768px) {
  .curses__cards .cards-item {
    width: 240px;
  }
}
@media (max-width: 576px) {
  .curses__cards .cards-item {
    width: 180px;
  }
}
@media (max-width: 370px) {
  .curses__cards .cards-item {
    width: 150px;
    height: 260px;
  }
}

@media (max-width: 1199px) {
  .curses__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 25px;
  }
}
@media (max-width: 992px) {
  .curses__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
.speakers__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  z-index: 10;
}
.speakers__container .slick-prev,
.speakers__container .slick-next {
  background-repeat: no-repeat;
  height: 22px;
}
.speakers__container .slick-prev {
  left: 15px;
  background-image: url("/assets/Icons/icon-9.png");
  z-index: 10;
}
.speakers__container .slick-next {
  right: 15px;
  background-image: url("/assets/Icons/icon-8.png");
  z-index: 10;
}
.speakers__container .slick-prev:before,
.speakers__container .slick-next:before {
  content: "";
}

.speakers__title {
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.speakers__title .speakers__title__div {
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
}
.speakers__title .speakers__title__div .speakers__title__h1 {
  max-width: 1050px;
  font-size: 32px;
  font-weight: 700;
  margin: 220px 0 30px 0px;
}
@media (max-width: 576px) {
  .speakers__title .speakers__title__div .speakers__title__h1 {
    margin: 100px 0 50px 0px;
  }
}

.speakers__content__it {
  display: flex;
  height: auto;
}

.speakers__content {
  position: relative;
  height: 255px;
  width: 100%;
  max-width: 1100px;
}
.speakers__content .speakers__img {
  display: flex;
  width: 255px;
  height: 255px;
  position: absolute;
  float: left;
}
.speakers__content .speakers__text {
  padding: 10px;
  margin: 35px 0 0 80px;
  max-width: 1020px;
  width: 100%;
  height: auto;
  color: #ffffff;
  background-color: rgba(92, 46, 3, 0.85);
}
.speakers__content .speakers__text .text__title {
  margin: 0 15px 0 190px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.speakers__content .speakers__text .text__paragraph {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 22px 190px;
}
@media (max-width: 1199px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 14px;
  }
  .speakers__content .speakers__text .text__title {
    font-size: 18px;
    margin: 0 10px 0 190px;
  }
}
@media (max-width: 768px) {
  .speakers__content .speakers__text .text__paragraph {
    font-size: 13px;
    margin: 5px 0 2px 190px;
  }
}
@media (max-width: 768px) {
  .speakers__content .speakers__text {
    height: 220px;
    margin: 20px 0 0 80px;
    overflow: scroll;
  }
}
@media (max-width: 576px) {
  .speakers__content .speakers__text {
    width: 100%;
    margin: 0;
    height: 140px;
    margin-top: 20px;
  }
  .speakers__content .speakers__text .text__title {
    margin: 0 15px 0 140px;
  }
  .speakers__content .speakers__text .text__paragraph {
    overflow: hidden;
    margin: 0 15px 0 140px;
    font-size: 10px;
  }
  .speakers__content .speakers__img {
    width: 140px;
    height: 140px;
    top: 20px;
    left: 50;
  }
  .speakers__content .speakers__img .image {
    width: 140px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .speakers__content .speakers__img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
  }
  .speakers__content .speakers__img .image {
    width: 100px;
    height: auto;
  }
  .speakers__content .speakers__text .text__title {
    margin: 0 15px 5px 100px;
    font-size: 14px;
  }
  .speakers__content .speakers__text .text__paragraph {
    margin: 0 0px 0 100px;
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .speakers__content {
    height: auto;
  }
}
/* Делаем все слайды полупрозрачными */
.speakers__container .slick-slide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Видимость для активных слайдов */
.speakers__container .slick-active {
  opacity: 1;
}

.container__speakers__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container__speakers__button .speakers__button {
  margin: 20px 0 140px 0;
  background-color: #5C2E03;
  width: 260px;
  height: 45px;
}
.container__speakers__button .speakers__button .speakers__button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Ermilov", serif;
  font-size: 16px;
  font-weight: 700;
  transition: all linear 0.3s;
}
.container__speakers__button .speakers__button .speakers__button__link:hover {
  text-decoration: none;
  background-color: #d26500;
}

.footer {
  padding: 40px;
  width: 100%;
  height: 290px;
  background-color: #000000;
  color: #ffffff;
  z-index: -5;
}
.footer .footer-container {
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1.8fr;
  grid-template-rows: 1fr;
}
@media (max-width: 768px) {
  .footer .footer-container {
    grid-template-columns: 1fr 0.7fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 576px) {
  .footer .footer-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }
}
.footer .footer__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__title {
    font-size: 11px;
  }
}
.footer .footer__contact .contact {
  width: auto;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact {
    width: 160px;
  }
}
.footer .footer__contact .contact__item-1 {
  display: grid;
  grid-template-columns: 0.15fr 0.3fr;
  grid-template-rows: 1fr;
}
.footer .footer__contact .contact__item-1 .img {
  width: 25px;
  height: auto;
}
.footer .footer__contact .contact__item-1 .item__text {
  width: 150px;
  height: 20px;
  margin-left: 15px;
  grid-column: 2/3;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-1 .item__text {
    font-size: 10px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-1 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-2 {
  display: flex;
  margin-top: 25px;
}
.footer .footer__contact .contact__item-2 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-2 .item__text {
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-2 .item__text {
    font-size: 10px;
    margin-bottom: 0;
  }
  .footer .footer__contact .contact__item-2 .img {
    width: 15px;
  }
}
.footer .footer__contact .contact__item-3 {
  display: flex;
  margin-top: 14px;
}
.footer .footer__contact .contact__item-3 .img {
  width: 25px;
  height: auto;
  margin: auto 0;
}
.footer .footer__contact .contact__item-3 .item__text {
  margin-left: 15px;
  width: 200px;
  height: 20px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
@media (max-width: 576px) {
  .footer .footer__contact .contact__item-3 .item__text {
    font-size: 10px;
    margin-bottom: 0;
    width: a;
  }
  .footer .footer__contact .contact__item-3 .img {
    width: 15px;
  }
}
.footer .navbar .nav__item {
  text-decoration: none;
  color: #ffffff;
}
.footer .navbar .nav__item .navbar__item {
  margin: 14px 0 14px 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .footer .navbar .nav__item .navbar__item {
    margin: 0 0 10px 0;
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
  }
}
.footer .footer__social {
  margin-left: 20px;
  display: grid;
  grid-template-rows: 0.4fr 0.3fr 1fr;
  grid-template-columns: 0.8fr 1fr;
}
@media (max-width: 576px) {
  .footer .footer__social {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer .social__image {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
  width: 100%;
}
.footer .social__image .image__item {
  position: relative;
  margin: 10px;
  border-radius: 50%;
  text-decoration: none;
}
@media (max-width: 425px) {
  .footer .social__image .image__item {
    margin: 0;
  }
  .footer .social__image .image__item img {
    width: 15px;
    height: 15px;
  }
}
.footer .logo {
  justify-self: right;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 136px;
  height: 136px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo .img {
  margin: auto auto;
  width: 95px;
  height: 95px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .footer .logo {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
  }
  .footer .logo .img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: auto;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */