$color_text_1:#ffffff;
$color_text_2:#000000;
$color_text_3: #4e4e4e;
$color_1:rgb(92, 46, 3, 0.85);
$color_2:#5C2E03;
$color_3:#ffffff;
$color__animation: #d26500;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

@font-face {
    font-family: 'Ermilov';
    src: url('../fonts/Ermilov-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'Ermilov', serif;
    font-weight: bold;
    color: #000000;
}

p,a {
    font-family: 'Montserrat';
    font-weight: normal; 
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    height: 102px;
    background-color: $color_3;
    z-index: 10;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    position: fixed;
    height: 100px;
    line-height: 100px;
    background-color: $color_3;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    .collapse{
        .nav__social {
            height: 45px;
            margin: 27.5px 10px 0 20px;
            .nav__social__links{
                position: relative;
                margin-left: 12px;
                background-color: $color_2;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                list-style: none;
                transition: all linear 0.3s;

                &:hover {
                    background-color: $color__animation;
                }

                .social__links-1 {
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;

                }
                @media (max-width: 992px) {
                    .social__links-1 {
                        width: 35px;
                        height: 35px;
                    }
                }
            }

            @media (max-width: 992px) {
                .nav__social__links {
                    width: 35px;
                    height: 35px;
                }
            }
            
        }
        @media (max-width: 992px) {
            .nav__social {
                margin: 32.5px 10px 0 10px;
            }
        }
    }

    .navbar-header {
        .navbar-toggle {
            float: right; /* Перемещаем бургер-меню вправо */
        }
        .img {
            width: 70px;
            height: auto;
        }
    }
    .nav {
        position: relative;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: max-content max-content;
        gap: 20px;
        grid-row: 1;
        justify-content: space-between;
        align-items: center;
        .dropdown-menu{
            width: 1920px;
            line-height: normal;
            left: 0;
            transform: translateX(-42.7%);
            .menu__item{
                top: 0;
                left: 0;
                height: 280px;
            }
        }
        .nav__button {
            margin: 0 5px;
            .btn{
                font-family: 'Montserrat';
                font-weight: normal; 
                font-size: 18px;
                font-weight: 400;
                background-color: $color_3;

            }
            @media (max-width: 992px) {
                .btn {
                    font-size: 16px;
                }
            }
        }    

        .nav__link {
            grid-row: 1/-1;
            font-family: 'Montserrat';
            font-weight: normal; 
            font-size: 18px;
            font-weight: 400;

            a {color: $color_text_2; text-decoration: none;}
        }
        @media (max-width: 992px) {
            .nav__link {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 992px) {
        .nav {
            gap: 10px;
        }
    }
}



.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.section__header {
    height: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 230px 35% 320px 20%;
    background-image: url(../assets/image/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header__info {
        width: 100%;
        max-width: 850px;
        height: auto;

        .info__title {
            width: 900px;
            text-transform: uppercase;
            font-size: 48px;
            font-weight: 700;
            color: $color_text_1;
        }


        .info__paragraph {
            width: 720px;
            height: 90px;
            margin: 10px 0 20px 0;
            font-size: 24px;
            font-weight: 400;
            color: $color_text_1;
        }

        .info__button {
            display: block;
            width: 210px;
            height: 65px;
            margin-left: 5px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 24px;
            color: $color_text_1;
            background-color: $color_2;
            transition: linear 0.3s;
            &:hover {
                background-color: #d26500;
                cursor: pointer;
            }
        }
        @media (max-width: 1199px) {
            .info__title {
                font-size: 36px;
            }
            .info__paragraph {
                font-size: 18px;
                margin: 15px 0 15px 0;
                height: 60px;
            }
        }
        @media (max-width: 768px) {
            .info__title {
                font-size: 28px;
            }
            .info__paragraph {
                width: 500px;
                font-size: 18px;
                margin: 15px 0 20px 0;
                height: 60px;
            }
            .info__button {
                display: block;
                width: 250px;
                margin-left: 120px;
            }
        }
        @media (max-width: 576px) {
            .info__title {
                text-align: center;
                width: 300px;
                margin: 0 auto;
            }
            .info__paragraph {
                text-align: center;
                font-size: 14px;
                padding: 0 20px;
                width: 100%;
                height: auto;
            }
            .info__button {
                display: block;
                width: 150px;
                height: 50px;
                margin: 0  auto;
                font-size: 16px;

            }

        }
    }
}

@media (max-width: 1199px) {
    .section__header {
        padding: 230px 0 320px 15%;
    }
}
@media (max-width: 992px) {
    .section__header {
        padding: 230px 0 320px 7%;
    }
}
@media (max-width:576px) {
    .section__header {
        height: 550px;
        padding: 230px 0 320px 0;
    }
}


.main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.about-container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.about {
    width: 100%;
    max-width: 1050px;
    height: auto;
    margin: 90px auto 35px auto;

    .about__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 18px;
    }
    .about__paragraph {
        width: 100%;
        height: auto;
        font-size: 18px;
        font-weight: 400;
    }
    .about__paragraph :nth-child(2) {
        margin-bottom: 70px;
    }

    @media (max-width:1199px) {
        .about__paragraph {
            font-size: 18px;
        }
    }
}
@media (max-width:1199px) {
    .about {
        padding: 0 30px 0 30px;
    }
}
@media (max-width: 576px) {
    .about {
        margin: 35px auto 35px auto;
    }
}


.curses-container {
    width: 100%;
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    &::after {
        content: "";
        width: 1920px;
        height: 680px; 
        margin: 0 auto;
        position: absolute;
        top: 160px; 
        left: -360px; 
        background-color: $color_1;
        z-index: -1;
    }
    @media (max-width: 992px) {
        &::after {
            top: 80px; 
            height: 1220px;
        }
    }
    
    @media (max-width: 768px) {
        &::after {
            height: 1160px;
            top: 60px; 
        }
    }
    @media (max-width: 576px) {
        &::after {
            height: 870px;
            top: 60px; 
        }
    }
}

.curses {
    width: 100%;
    height: auto;

    .curses__btn {
        width: 195px;
        height: 45px;
        margin: 26px auto 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color_3;
        z-index: 3;
        transition: linear 0.3s;
        .curses__btn__button {
            text-decoration: none;
            color:$color_text_2;
        }
        .btn__button__btn {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &:hover {
            background-color: $color__animation;
        }
    }
}

.curses__title{
    max-width: 1200px;
    padding: 0 30px ;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


.curses__title__h1 {
    max-width: 1050px;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    margin: 36px auto;
}

.curses__cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/-1;
    gap: 25px;
    

    .cards-item {
        margin: 0 auto;
        background-color: $color_3;
        width: 280px;
        transition: all linear 0.15s;
        &:hover {
            transform: scale(1.07);
        }
        .item__image {
            .img {
                width: 100%;
            }
        }
        .item__title {
            margin: 10px 0 4px 20px;
            font-size: 20px;
            font-weight: 500;
        }
        .item__subtitle{
            margin-left: 20px;
            font-size: 15px;
            font-weight: 300;
            color: $color_text_3;
        }
        .item__star {
            margin: 10px 0 10px 20px;
            display: flex;
            .img {
                width: 22px;
                height: 22px;
            }
        }
        .item__bottom {
            display: flex;
            margin-bottom: 20px;

            .item__button {
                display: flex;
                width: 144px;
                height: 44px;
                margin-left: 16px;
                font-size: 14px;
                font-weight: 500;
                color: $color_text_1;
                background-color: $color_2;
                transition: linear 0.3s;

                &:hover {
                    background-color: $color__animation;
                }
            }
            .item__btn {
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                color: $color_text_1;
            }
            .img {
                width: 20px;
                height: 18px;
                margin: 13px 14.5px 13px 18px;
            }
            .item__price {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
            }
            @media (max-width: 768px) {
                .item__price {
                    font-size: 14px;
                }
                .item__button {
                    width: 130px;
                }
            }
            @media (max-width: 576px) {
                .item__price {
                    font-size: 10px;
                    margin: 5px 0 0 10px;
                }
                .item__button {
                    height: 38px;
                    width: 100px;
                    .item__btn {
                        font-size: 11px;
                    }
                }
                .img {
                    width: 14px;
                    height: auto;
                    margin: 0 10px;
                }
            }
            @media (max-width: 370px) {
                .item__price {
                    font-size: 9px;
                    margin: 0 0 0 10px;
                }
            }
        }
        @media (max-width: 576px) {
            .item__title {
                font-size: 14px;
            }
            .item__subtitle {
                font-size: 11px;
            }
        }
    }
    @media (max-width: 1199px) {
        .cards-item:nth-child(7),
        .cards-item:nth-child(8) {
            display: none;
        }
    }
    @media (max-width: 992px) {
        .cards-item {
            width: 320px;
        }
        .cards-item:nth-child(7),
        .cards-item:nth-child(8) {
            display: none;
        }
    }
    @media (max-width: 768px) {
        .cards-item {
            width: 240px;
        }
    }
    @media (max-width: 576px) {
        .cards-item {
            width: 180px;
        }
    }
    @media (max-width: 370px) {
        .cards-item {
            width: 150px;
            height: 260px;
        }
    }
}


@media (max-width: 1199px) {
    .curses__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }
}
@media (max-width: 992px) {
    .curses__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr ;
        column-gap: 0px;
    }
}

.speakers__container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    .slick-prev,
    .slick-next {
        background-repeat: no-repeat;
        height: 22px;
    }

    .slick-prev {
        left: 15px; 
        background-image: url('/assets/Icons/icon-9.png');
        z-index: 10;
    }

    .slick-next {
        right: 15px;
        background-image: url('/assets/Icons/icon-8.png');
        z-index: 10;
    }
    .slick-prev:before,
    .slick-next:before {
        content: ''; 
    }
}
.speakers__title {
    padding: 0 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .speakers__title__div {
        margin: 0 auto;
        width: 100%;
        max-width: 1050px;
        .speakers__title__h1 {
            max-width: 1050px;
            font-size: 32px;
            font-weight: 700;
            margin:220px 0 30px 0px;
        }
        @media (max-width: 576px) {
            .speakers__title__h1 {
                margin: 100px 0 50px 0px; 
            }
        }
    }
}

.speakers__content__it {
    display: flex;
    height: auto;
}
.speakers__content {
    position: relative;
    height: 255px;
    width: 100%;
    max-width: 1100px;
    .speakers__img {
        display: flex;
        width: 255px;
        height: 255px;
        position: absolute;
        float: left;
    }
    
    .speakers__text {
        padding: 10px;
        margin: 35px 0 0 80px;
        max-width: 1020px;
        width: 100%;
        height: auto;
        color:$color_text_1;
        background-color: $color_1;
        
        .text__title {
            margin:0 15px 0 190px;
            font-size: 22px;
            font-weight: 700;
            color:$color_text_1;
        }

        .text__paragraph {
            color:$color_text_1;    
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 22px 190px;

        }
        @media (max-width: 1199px) {
            .text__paragraph {
                font-size: 15px;
            }
        }
        @media (max-width: 992px) {
            .text__paragraph {
                font-size: 14px;
            }
            .text__title {
                font-size: 18px;
                margin:0 10px 0 190px;
            }
        }
        @media (max-width: 768px) {
            .text__paragraph {
                font-size: 13px;
                margin: 5px 0 02px 190px;
            }
        }
    }
    @media (max-width: 768px) {
        .speakers__text {
            height: 220px;
            margin: 20px 0 0 80px;
            overflow: scroll;
        }
    }
    @media (max-width: 576px) {
        .speakers__text {
            width: 100%;
            margin: 0;
            height: 140px;
            margin-top: 20px;
            .text__title {
                margin:0 15px 0 140px;
            }
            .text__paragraph {
                overflow: hidden;
                margin:0 15px 0 140px;
                font-size: 10px;
            }
        }
        .speakers__img {
            width:140px;
            height: 140px;
            top: 20px;
            left: 50;
            .image {
                width: 140px;
                height: auto;
            }
        }
    }
    @media (max-width: 400px) {
        .speakers__img {
            margin: 20px 0;
            width:100px;
            height: 100px;
            .image {
                width: 100px;
                height: auto;
            }
        }
        .speakers__text {
            .text__title {
                margin:0 15px 5px 100px;
                font-size: 14px;
            }
            .text__paragraph {
                margin:0 0px 0 100px;
                font-size: 8px;
            }
        }
    }
}

@media (max-width: 576px) {
    .speakers__content {
        height: auto;
    }
}

    /* Делаем все слайды полупрозрачными */
    .speakers__container .slick-slide {
        opacity: 0;  
        transition: opacity 0.3s ease-in-out;  
    }

    /* Видимость для активных слайдов */
    .speakers__container .slick-active {
        opacity: 1; 
    }

.container__speakers__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .speakers__button {
        margin: 20px 0 140px 0;
        background-color: $color_2;
        width: 260px;
        height: 45px;
    
        .speakers__button__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 45px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color_text_1;
        font-family: 'Ermilov', serif;
        font-size: 16px;
        font-weight: 700;
        transition: all linear 0.3s;
            &:hover {
                text-decoration: none;
                background-color: $color__animation;
            }
        }
    }
}
    


.footer {
    padding: 40px;
    width: 100%;
    height: 290px;
    background-color: $color_text_2;
    color: $color_text_1;
    z-index: -5; 
    

    .footer-container {
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.7fr 1.8fr;
        grid-template-rows: 1fr;
        
    }
    @media (max-width: 768px) {
        .footer-container{
            grid-template-columns: 1fr 0.7fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    @media (max-width: 576px) {
        .footer-container{
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
        }
    }


.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color_text_1;
}
@media (max-width: 576px) {
    .footer__title {
        font-size: 11px;
    }
}

.footer__contact {
    .contact {
        width: auto;
    }
    @media (max-width: 576px) {
        .contact {
            width: 160px;
        }
    }
    .contact__item-1 {
        display: grid;
        grid-template-columns: 0.15fr 0.3fr;
        grid-template-rows: 1fr;
        .img {
            width: 25px;
            height: auto;
        }
        .item__text {
            width: 150px;
            height: 20px;
            margin-left: 15px;
            grid-column: 2/3;
            line-height: 25px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_1;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 10px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }
    .contact__item-2 {
        display: flex;
        margin-top: 25px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 28px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_1;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 10px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }     
        .contact__item-3 {
        display: flex;
        margin-top: 14px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 21px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_1;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 10px;
                margin-bottom: 0;
                width: a;
            }
            .img {
                width: 15px;
            }
        }
    } 
}



.navbar {
    .nav__item {
        text-decoration: none;
        color: $color_text_1;

        .navbar__item {
            margin: 14px 0 14px 0;
            list-style-type: none;
            font-size: 18px;
            font-weight: 400;
        }
        @media (max-width: 576px) {
            .navbar__item {
                margin: 0 0 10px 0;
                list-style-type: none;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
}
.footer__social{
    margin-left: 20px;
    display: grid;
    grid-template-rows: 0.4fr 0.3fr 1fr;
    grid-template-columns: 0.8fr 1fr ;
}
@media (max-width: 576px) {
    .footer__social{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
    .social__image {
        display: flex;
        justify-content: space-between;
        max-width: 190px;
        width: 100%;
        .image__item{
            position: relative;
            margin: 10px;
            border-radius: 50%;
            text-decoration: none;
        }
    }
    @media (max-width: 425px) {
        .social__image {
            .image__item {
                margin: 0;
                img {
                    width:15px;
                    height:15px;
                }
            }
        }
    }

    .logo{
        justify-self: right;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 136px;
        height: 136px;
        background-color: $color_3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            margin: auto auto;
            width: 95px;
            height: 95px;
            transition: all 0.3s;
            
        }   
    }
    @media (max-width: 768px) {
        .logo {
            margin-top: 20px;
            width: 80px;
            height: 80px;
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            .img {
                width: 60px;
                height: 60px;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer{
        height: auto;
        padding: 10px;
    }
}