$color_text_1:#ffffff;
$color_text_2:#000000;
$color_text_3: #a8a8a8;
$color_1:rgb(92, 46, 3, 0.85);
$color_2:#5C2E03;
$color_3:#ffffff;
$color__animation: #d26500;
$slider__color:#744D29;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: 'Ermilov';
    src: url('../fonts/Ermilov-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'Ermilov', serif;
    font-weight: bold;
    color: #000000;
}

p,a {
    font-family: 'Montserrat';
    font-weight: normal; 
    color: #000000;
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    position: fixed;
    width: 100%;
    height: 102px;
    background-color: $color_3;
    z-index: 10;
}

.navbarr {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    background-color: #ffffff;
    border: none;
    height: 100px;
    z-index: 999;
    .container-fluid {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        background-color: #ffffff;

        .navbar-header {
            min-height: 70px;
            .navbar-toggle {
                margin: 20px 20px 20px 0;
            }
            .navbar-brand {
                padding: 10px;
                .logo {
                }
                @media (max-width:768px) {
                    .logo {
                        width: auto;
                        height: 50px;
                    }
                }
            }
        }
        .collapse {
            height: 100px!important;
            padding: 25px 0;
            .nav {
                font-size: 18px;
                .dropdown:hover .dropdown-menu {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    z-index: 1000; 
                }
                .dropdown-menu {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    .menu {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        padding: 0 20px;
                        column-gap: 60px;
                        font-size: 16px;
                        li {
                            margin: 15px 0;
                            min-width: 180px;
                        }
                    }
                    @media (max-width: 992px) {
                        .menu {
                            min-width: 80px;
                            column-gap: 10px;
                            font-size: 14px;
                        }
                    }
                    @media (max-width: 768px) {
                        .menu {
                            font-size: 14px;
                            grid-template-columns: 1fr;
                            grid-template-rows: 1fr 1fr 1fr;
                        }
                    }
                }
                @media (max-width: 768px) {
                    .dropdown:hover .dropdown-menu {
                        display: none;
                        visibility: hidden;
                        opacity: 0; 
                    }
                    .dropdown-menu {
                        display: none; 
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                    .dropdown.open .dropdown-menu {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                .soc_container {
                    margin-left: 35px;
                    .soc_item {
                        margin: 3px 10px 0 0;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-color: #5C2E03;
                    }
                    @media (max-width:992px) {
                        .soc_item {
                            margin: 10px 5px 0 0!important;
                            width: 30px;
                            height: 30px;
                            .img {
                                width: 15px;
                                height: auto;
                            }
                        }
                    }
                    @media (max-width:768px) {
                        .soc_item {
                            margin: 10px 5px 0 0!important;
                            width: 44px;
                            height: 44px;
                            .img {
                                width: 20px;
                                height: auto;
                            }
                        }
                    }
                }
                @media (max-width:768px) {
                    .soc_container {
                        margin: 0;
                    }
                }
                
            }
            @media (max-width:992px) {
                .nav {
                    font-size: 16px;
                    .nav_item {
                        text-align: center;
                    }
                }
            }
            @media (max-width:768px) {
                .nav {
                    font-size: 14px;
                    width: 100%;
                    margin: 0;
                }
            }
        }
        @media (max-width:768px) {
            .collapse {
                height: auto!important;
            }
        }
    }
}
@media (max-width:768px) {
    .navbarr {
        height: auto;
    }
}


.header-container {
    position: relative;
    width: 1920px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    .header__prev {
        background-color: #000000;
        left: 50px;
    }
    .header__next {
        right: 50px;
    } 
    .header__next,.header__prev {
        position: absolute;
        width: 100px;
        z-index: 5;
        margin-top: 350px;
        background-color: mix(#292929, transparent, 40%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all linear 0.3s;
        &:hover {
            background-color: mix(#292929, transparent, 70%);
        }
    }
    @media (max-width: 1199px) {
        .header__next,.header__prev {
            display: none!important;;
        }
    }

}

.section__header {

    height: 800px;
    margin: 0 auto;
    width: 100%;
    background-image: url(../assets/image/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .header__info {
        width: 100%;
        max-width: 1200px;
        margin: 200px auto;
        height: auto;

        .info__title {
            width: 900px;
            text-transform: uppercase;
            font-size: 48px;
            font-weight: 700;
            color: $color_text_1;
        }


        .info__paragraph {
            width: 720px;
            height: 90px;
            margin: 10px 0 20px 0;
            font-size: 24px;
            font-weight: 400;
            color: $color_text_1;
        }

        .info__button {
            display: block;
            width: 210px;
            height: 65px;
            margin-left: 5px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 24px;
            color: $color_text_1;
            background-color: $color_2;
            transition: linear 0.3s;
            &:hover {
                background-color: #d26500;
                cursor: pointer;
            }
        }
        @media (max-width: 1199px) {
            .info__title {
                font-size: 36px;
            }
            .info__paragraph {
                font-size: 18px;
                margin: 15px 0 15px 0;
                height: 60px;
            }
        }
        @media (max-width: 768px) {
            .info__title {
                font-size: 28px;
            }
            .info__paragraph {
                width: 500px;
                font-size: 18px;
                margin: 15px 0 20px 0;
                height: 60px;
            }
            .info__button {
                display: block;
                width: 250px;
                margin-left: 120px;
            }
        }
        @media (max-width: 576px) {
            .info__title {
                text-align: center;
                width: 300px;
                margin: 0 auto;
            }
            .info__paragraph {
                text-align: center;
                font-size: 14px;
                padding: 0 20px;
                width: 100%;
                height: auto;
            }
            .info__button {
                display: block;
                width: 150px;
                height: 50px;
                margin: 0  auto;
                font-size: 16px;

            }

        }
    }
    @media (max-width: 1400px) {
        .header__info {
            width: 80%;
            max-width: 1200px;
            margin: 200px auto;
            height: auto;
        }
    }
}
@media (max-width: 576px) {
    .section__header {
        height: 500px;
    }
}


.main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.about-container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.about {
    width: 100%;
    max-width: 1050px;
    height: auto;
    margin: 0 auto;

    .about__paragraph {
        width: 100%;
        height: auto;
        font-size: 18px;
        font-weight: 400;
    }
    .about__paragraph :nth-child(2) {
        margin-bottom: 70px;
    }

    @media (max-width:1199px) {
        .about__paragraph {
            font-size: 18px;
        }
    }
}
@media (max-width:1199px) {
    .about {
        padding: 0 30px 0 30px;
    }
}
@media (max-width: 576px) {
    .about {
        margin: 35px auto 35px auto;
    }
}



.title__cont {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.main__title {
    margin: 90px 0 20px 80px;
    opacity: 0;
    .main__title__h1 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title {
        opacity: 1;
    }
}
.main__title__line {
    position: absolute;
    margin-left: 74px;
    top: 900px;
    .main__title__h1__line {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .main__title__line {
        display: none;
    }
}

@media (max-width: 450px) {
    .main__title {
        margin: 0;
        .main__title__h1 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}


.curses-container {
    width: 100%;
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    &::after {
        content: "";
        width: 1920px;
        height: 680px; 
        margin: 0 auto;
        position: absolute;
        top: 160px; 
        left: -360px; 
        background-color: $color_1;
        z-index: -1;
    }
    @media (max-width: 992px) {
        &::after {
            top: 80px; 
            height: 1220px;
        }
    }
    
    @media (max-width: 768px) {
        &::after {
            height: 1160px;
            top: 60px; 
        }
    }
    @media (max-width: 576px) {
        &::after {
            height: 870px;
            top: 60px; 
        }
    }
}

.curses {
    width: 100%;
    height: auto;

    .curses__btn {
        width: 195px;
        height: 45px;
        margin: 26px auto 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color_3;
        z-index: 3;
        transition: linear 0.3s;
        .curses__btn__button {
            text-decoration: none;
            color:$color_text_2;
        }
        .btn__button__btn {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &:hover {
            background-color: $color__animation;
        }
    }
}

.main__title__item_2 {
    margin: 70px 0 40px 74px;
    opacity: 0;
    .main__title__h1__item_2 {
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title__item_2 {
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .main__title__item_2 {
        margin: 40px 0 20px 0px;
        .main__title__h1__item_2 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}
.main__title__line__item_2 {
    position: absolute;
    margin-left: 74px;
    top: 1163px;
    .main__title__h1__line__item_2 {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line__item_2 {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .main__title__line__item_2 {
        display: none;
    }
}

.curses__cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/-1;
    gap: 25px;
    

    .cards-item {
        margin: 0 auto;
        background-color: $color_3;
        width: 280px;
        transition: all linear 0.15s;
        &:hover {
            transform: scale(1.07);
        }
        .item__image {
            .img {
                width: 100%;
            }
        }
        .item__title {
            margin: 10px 0 4px 20px;
            font-size: 20px;
            font-weight: 500;
        }
        .item__subtitle{
            margin-left: 20px;
            font-size: 15px;
            font-weight: 300;
            color: $color_text_3;
        }
        
        .item__bottom {
            display: flex;
            margin-bottom: 20px;

            .item__button {
                display: flex;
                width: 144px;
                height: 44px;
                margin-left: 16px;
                font-size: 14px;
                font-weight: 500;
                color: $color_text_1;
                background-color: $color_2;
                transition: linear 0.3s;

                &:hover {
                    background-color: $color__animation;
                }
            }
            .item__btn {
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                color: $color_text_1;
                align-items: center;
                display: flex;
            }
            .img {
                width: 20px;
                height: 18px;
                margin: 13px 14.5px 13px 18px;
            }
            .item__price {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
            }
            @media (max-width: 768px) {
                .item__price {
                    font-size: 14px;
                }
                .item__button {
                    width: 130px;
                }
            }
            @media (max-width: 576px) {
                .item__price {
                    font-size: 10px;
                    margin: 5px 0 0 10px;
                }
                .item__button {
                    height: 38px;
                    width: 100px;
                    .item__btn {
                        font-size: 11px;
                    }
                }
                .img {
                    width: 14px;
                    height: auto;
                    margin: 0 10px;
                }
            }
            @media (max-width: 370px) {
                .item__price {
                    font-size: 9px;
                    margin: 0 0 0 10px;
                }
            }
        }
        @media (max-width: 576px) {
            .item__title {
                font-size: 14px;
            }
            .item__subtitle {
                font-size: 11px;
            }
        }
    }
    @media (max-width: 1199px) {
        .cards-item:nth-child(7),
        .cards-item:nth-child(8) {
            display: none;
        }
    }
    @media (max-width: 992px) {
        .cards-item {
            width: 320px;
        }
        .cards-item:nth-child(7),
        .cards-item:nth-child(8) {
            display: none;
        }
    }
    @media (max-width: 768px) {
        .cards-item {
            width: 240px;
        }
    }
    @media (max-width: 576px) {
        .cards-item {
            width: 180px;
        }
    }
    @media (max-width: 370px) {
        .cards-item {
            width: 150px;
            height: 260px;
        }
    }
}


@media (max-width: 1199px) {
    .curses__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }
}
@media (max-width: 992px) {
    .curses__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr ;
        column-gap: 0px;
    }
}


.rating-group {

    position: relative;
    display: flex; /* Это выстроит элементы в ряд */
}
.half-stars input {
    position: absolute;
    left: -9999px;
}
.half-stars label {
    margin: 0;
    cursor: pointer;
    display: inline-block; /* Сохраняем наложение, выстраивая в ряд */
}
.half-stars label svg {
    height: 20px;
    width: 20px;
    fill: #37C300;
    transition: fill 0.3s;
}
.half-stars {
    position: relative;
    margin: 5px 0px 14px 25px;
    .reting__none {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 800;
    }
}
@media (max-width: 450px) {
    .half-stars {
        margin: 5px 0 14px 15px;
    }
}
.rating-group{
    display: inline-block;
    position: relative;
    .hsr {
        position: absolute;
        width: 11px;
        overflow: hidden;
        padding-right: 0;
        z-index: 100;
    }
    .hsr:nth-child(2) {
        left: 0px;
    }
    .hsr:nth-child(3) {
        left: 40px;
    }
    .hsr:nth-child(4) {
        left: 60px;
    }
    .hsr:nth-child(5) {
        left: 80px;
    }
}


.half-stars input:checked ~ label svg {
    fill: #ffffff;
    
}

.half-stars .rating-group input:checked ~ label svg {
    path {
        stroke: rgb(0, 0, 0);
    }
}




.speakers__container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    .speakers__prev,
    .speakers__next {
        width: 20px;
        height: 22px;
        margin: auto 0;
    }
}

.main__title__item_3 {
    margin: 190px 0 80px 74px;
    opacity: 0;
    .main__title__h1__item_3 {
        margin: 0px;
        font-size: 32px;
        font-weight: 700;
    }
}
@media (max-width: 1199px) {
    .main__title__item_3 {
        opacity: 1;
    }
}
@media (max-width: 450px) {
    .main__title__item_3 {
        margin: 0px 0 50px 0px;
        .main__title__h1__item_3 {
            font-size: 26px;
            font-weight: 700;
            text-align: center;
        }
    }
}


.main__title__line__item_3 {
    position: absolute;
    margin-left: 74px;
    top: 2252px;
    .main__title__h1__line__item_3 {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        .main__title__hr__line__item_3 {
            position: absolute;
            width: 460px;
            height: 15px;
            top: 10px;
            left: -490px;
            z-index: 1;
            margin: 0;
            border: none;
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background-color: $color_2;
                top:0;
                right: 0;
                z-index: 1000;
                border-radius: 50%;
            }
            &::after {
                background-color: $color_2;
                content: "";
                position: absolute;
                width: 460px;
                height: 4px;
                top: 5px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .main__title__line__item_3 {
        display: none;
    }
}


.speakers__content__it {
    display: flex;
    height: auto;
}
.speakers__content {
    position: relative;
    height: 255px;
    width: 100%;
    max-width: 1100px;
    .speakers__img {
        display: flex;
        width: 255px;
        height: 255px;
        position: absolute;
        float: left;
    }
    
    .speakers__text {
        padding: 10px;
        margin: 35px 0 0 80px;
        max-width: 1020px;
        width: 100%;
        height: auto;
        color:$color_text_1;
        background-color: $slider__color;
        
        .text__title {
            margin:0 15px 0 190px;
            font-size: 22px;
            font-weight: 700;
            color:$color_text_1;
        }

        .text__paragraph {
            color:$color_text_1;    
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 22px 190px;

        }
        @media (max-width: 1199px) {
            .text__paragraph {
                font-size: 15px;
            }
        }
        @media (max-width: 992px) {
            .text__paragraph {
                font-size: 14px;
            }
            .text__title {
                font-size: 18px;
                margin:0 10px 0 190px;
            }
        }
        @media (max-width: 768px) {
            .text__paragraph {
                font-size: 13px;
                margin: 5px 0 02px 190px;
            }
        }
    }
    @media (max-width: 768px) {
        .speakers__text {
            height: 220px;
            margin: 20px 0 0 80px;
            overflow: scroll;
        }
    }
    @media (max-width: 576px) {
        .speakers__text {
            padding: 0px;
            width: 100%;
            margin: 0;
            height: 140px;
            margin-top: 20px;
            .text__title {
                margin:0 5px 0 110px;
            }
            .text__paragraph {
                overflow: hidden;
                margin:0 5px 0 110px;
                font-size: 9px;
            }
        }
        .speakers__img {
            width:100px;
            height: 100px;
            top: 40px;
            left: 50;
            .image {
                width: 100px;
                height: auto;
            }
        }
    }
    @media (max-width: 400px) {
        .speakers__img {
            margin: 20px 0;
            width: 70px;
            height: 70px;
            .image {
                width: 70px;
                height: 70px;
            }
        }
        .speakers__text {
            .text__title {
                margin:0 15px 5px 80px;
                font-size: 12px;
            }
            .text__paragraph {
                margin:0 0px 0 80px;
                font-size: 7px;
            }
        }
    }
}

@media (max-width: 576px) {
    .speakers__content {
        height: auto;
    }
}

    /* Делаем все слайды полупрозрачными */
    .speakers__container .slick-slide {
        opacity: 0;  
        transition: opacity 0.3s ease-in-out;  
    }

    /* Видимость для активных слайдов */
    .speakers__container .slick-active {
        opacity: 1; 
    }

.container__speakers__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .speakers__button {
        margin: 20px 0 140px 0;
        background-color: $color_2;
        width: 260px;
        height: 45px;
    
        .speakers__button__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 45px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color_text_1;
        font-family: 'Ermilov', serif;
        font-size: 16px;
        font-weight: 700;
        transition: all linear 0.3s;
            &:hover {
                text-decoration: none;
                background-color: $color__animation;
            }
        }
    }
}
    


.footer {
    padding: 40px;
    width: 100%;
    height: 290px;
    background-color: $color_text_2;
    color: $color_text_1;
    z-index: -5; 
    

    .footer-container {
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.7fr 1.8fr;
        grid-template-rows: 1fr;
        
    }
    @media (max-width: 768px) {
        .footer-container{
            grid-template-columns: 1fr 0.7fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    @media (max-width: 576px) {
        .footer-container{
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
        }
    }


.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color_text_1;
}
@media (max-width: 576px) {
    .footer__title {
        font-size: 10px;
    }
}

.footer__contact {
    .contact {
        width: auto;
    }
    @media (max-width: 576px) {
        .contact {
            width: 125px;
        }
    }
    .contact__item-1 {
        display: grid;
        grid-template-columns: 0.15fr 0.3fr;
        grid-template-rows: 1fr;
        .img {
            width: 25px;
            height: auto;
        }
        .item__text {
            font-family: 'Roboto'!important;
            width: 150px;
            height: 20px;
            margin-left: 15px;
            grid-column: 2/3;
            line-height: 25px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }
    .contact__item-2 {
        display: flex;
        margin-top: 25px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 28px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }     
        .contact__item-3 {
        display: flex;
        margin-top: 14px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 21px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
                width: a;
            }
            .img {
                width: 15px;
            }
        }
    } 
}



.navbar {
    .nav__item {
        text-decoration: none;
        color: $color_text_3;

        .navbar__item {
            margin: 14px 0 14px 0;
            list-style-type: none;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto'!important;
        }
        @media (max-width: 576px) {
            .navbar__item {
                margin: 0 0 10px 0;
                list-style-type: none;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}
.footer__social{
    margin-left: 20px;
    display: grid;
    grid-template-rows: 0.4fr 0.3fr 1fr;
    grid-template-columns: 0.8fr 1fr ;
}
@media (max-width: 576px) {
    .footer__social{
        margin-left: 10px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
    .social__image {
        display: flex;
        justify-content: space-between;
        max-width: 190px;
        width: 100%;
        .image__item{
            position: relative;
            margin: 10px;
            border-radius: 50%;
            text-decoration: none;
        }
    }
    @media (max-width: 425px) {
        .social__image {
            .image__item {
                margin: 0;
                img {
                    width:15px;
                    height:15px;
                }
            }
        }
    }

    .logo{
        justify-self: right;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 136px;
        height: 136px;
        background-color: $color_3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            margin: auto auto;
            width: 95px;
            height: 95px;
            transition: all 0.3s;
            
        }   
    }
    @media (max-width: 768px) {
        .logo {
            margin-top: 20px;
            width: 80px;
            height: 80px;
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            .img {
                width: 60px;
                height: 60px;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer{
        height: auto;
        padding: 10px;
    }
}
@media (max-width: 350px) {
    .footer{
        height: auto;
        padding: 3px;
    }
}